#header, #shortcur-bar, #footer, .titlebar, #sidenav li a,.submit-button, #sidenav li a:hover, #sidenav li a.active, #usermenu a:hover, .widget-top, .qq-upload-button, .submit-button-login, #login-header {
    background: url(../images/bar-sprite.png) repeat-x;
}

@media screen and (max-width: 782px) {
    html #wpadminbar {
        height: 58px;
        min-width: 300px;
    }
    html.wp-toolbar {
    padding-top: 0px;
    }
}




.src-container{
    width: 650px;
    background-color: #fff;
    min-height: 290px;
    border-radius: 7px;
}
.src-container-s{
    width: 250px;
    background-color: #fff;
    min-height: 150px;
    border-radius: 7px;
}
.src-container_alert{
    width: 350px;
    background-color: #fff;
    min-height: 100px;
    border-radius: 7px;
}
.src_info_headder, .src_info_headder_alert {
    height: 38px;
    border-bottom: #9ea3a7 1px solid;
    position: relative;
    line-height: 38px;
    border-radius: 6px 6px 0 0;
    background-position: 0 -597px;
    background: #26b99a;
}


.src_info_headder h4, .src_info_headder_alert h4, .src-close-s h4 {
    font-size: 12px;
    font-weight: bold;
    line-height: 38px;
    margin: 0px;
    padding: 0 10px;
    color: #fff;
}
.src-close, .src-close_alert, .src-close-s {
    position: absolute;
    right: 5px;
    top: 5px;
}
.src-close a, .src-close_alert a, .src-close-s a {
    color: #777;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px 0 #f4f4f4;
    text-indent: -999999px;
    display: block;
}
.exit-modal {
    background: url(../images/x.png) no-repeat;
    height: 29px;
    width: 25px;
}

.src-container_alert .buttons {
    width: 60px;
    margin: 0 auto;
    padding-bottom: 10px;
}
.icon-wrap-lb a {
    height: 20px;
    padding: 5px 8px;
    display: inline-block;
    border: #cfcfcf 1px solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background: url(../images/element-back.png) repeat-x top;
    color: #343434;
    -moz-box-shadow: 0 0 4px #e3e3e3;
    -webkit-box-shadow: 0 0 4px #e3e3e3;
    box-shadow: 0 0 4px #e3e3e3;
    line-height: 20px;
}

.icon-block-color {
    height: 20px;
    width: 20px;
    display: block;
    background: url(../images/icons-color.png) no-repeat;
    float: left;
    margin-right: 5px;
}

#wpfooter {
    margin-left: 0;
    z-index: 99999;
    background: #fff;
    position: fixed;
    padding: 0;
}
#footer-wrap {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 1000;
}

 #footer {
            height: 40px;
    width: 100%;
    margin: auto;
    border-top: #404954 1px solid;
    background-position: 0 -491px;
    position: relative;
    bottom: 0px;
    }
    .footer-nav li {
    height: 40px;
    display: inline-block;
    float: left;
    position: relative;
    list-style: none;
    margin-bottom: 0;
}
#footer {
    background: url(../images/bar-sprite.png) repeat-x;
        background-position: 0 -491px;
}
.footer-nav ul {
    margin: 0;
    padding: 0;
}
.footer-nav li a {
    height: 40px;
    display: inline-block;
    float: left;
    padding: 0 10px 0 35px;
    line-height: 40px;
    border-right: #404954 1px solid;
    color: #fff;
    text-decoration: none;
}
.footer-nav li a:hover {
    border-right: #404954 1px solid;
    background: #616b76;
    text-decoration: none;
}
#wpfooter a:hover {
    text-decoration: none;
}

.tooltip {
  width: 30px;
  height: 30px;
}
.tootip-black {
  background-image: url(../images/help-icon-black.png);
}
.tootip-red {
  background-image: url('../images/help-icon-red.png');
}
.tootip-yellow {
    background-image: url(../images/help-icon-yellow.png);
}

.sale_type {
    display: none !important;
}
.type_bill {
    display: none !important;
}



/*square circle sale*/
    input[type=radio].css-checkbox {
        position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
    }

    input[type=radio].css-checkbox + label.css-label {
        width: 5px;
        height:5px; 
        display:inline-block;
        line-height:36px;
        background-repeat:no-repeat;
        background-position: 0 0;
        font-size:36px;
        vertical-align:middle;
        cursor:pointer;
    }

    input[type=radio].css-checkbox:checked + label.css-label {
        border: 2px solid #AAAAAA;
    }
    label.css-label {
        width: 5px;
        height: 5px;
        border: 2px solid #d42121;
        /*background-image:url('images/csscheckbox_db.png');*/
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
/*end of square circle sale*/

.icon-block-color {
    height: 20px;
    width: 20px;
    display: block;
    background: url(../images/icons-color.png) no-repeat;
    float: left;
    margin-right: 5px;
}

.icon-block-black {
    height: 20px;
    width: 20px;
    display: block;
    background: url(../images/icons-black.png) no-repeat;
    float: left;
    margin-right: 5px;
}

.coins-c {
    background-position: 0px -20px;
}

.add-c {
    background-position: -340px 0px;
}

.updatebill-c {
    background-position: -257px -59px;
}

.invoice-c {
    background-position: 0px -60px;
}

.print-c {
    background-position: -500px -20px;
}

.active {
    display: inline-block;
}
.active-n {
    display: none;
}

.ck_stk {
    padding: 0px;
    float: right;
    width: 185px;
}
.stock_ck_avail_box {
    width: 700px;
    height: 400px;
    border: 2px solid #ddd;
    background: #fff;
    position: absolute;
    z-index: 999;
    float: right;
    right: 15px;
    top: 53px;
}

.top_arr_avail {
    float: right;
    margin-right: 65px;
    margin-top: -10px;
    position: relative;
}
#search_lot_rate {
    width: 85px;
    height: 30px;
}

span.page-numbers {
    float: left;
    margin-right: 6px;
}


.widget-content {
    min-height: 110px; 
}
.welcome-panel-content {
    max-height: 110px; 
    margin: 0 auto;
}

.canvasjs-chart-credit {
   display: none;
}

#dashboard-widgets .postbox-container {
    width: 50%;
}
#wpbody-content #dashboard-widgets #postbox-container-1, #wpbody-content #dashboard-widgets .postbox-container {
    width: 48%;
}

.dashicons-customers {

}

.ui-datepicker {
    z-index: 10000 !important;
}



.c-pending {
    background: #da6860;
    color: #FFF;
}
.c-process {
    background: #60549e;
    color: #FFF;
}
.c-delivered {
    background: #067e1a;
    color: #FFF;
}
.d-status span{
    border-radius: 4px;
    padding: 1px 5px;
    margin: 0 5px;
    font-size: 90%;
    font-weight: bold;
    cursor: pointer;
}

.form-grid form > ul > li {
    margin-left: 10px;
}

.tooltipo {
    position: absolute;
    display: inline-block;
    border-bottom: 1px dotted black;
    width: 20px;
    height: 20px;
    right: 0;
    top: 5px;
}
.tootip-black {
    background-image: url(../images/help-icon-black.png);
}

.tooltipo .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    right: 0;
}
.tooltipo:hover .tooltiptext {
    visibility: visible;
}
#wpcontent, #wpfooter {
    margin-left: 230px;
}
.copyright {
    float: right;
    line-height: 40px;
    color: #CCC;
    margin-right: 350px;
}
.zero-count {
    height: 20px;
    width: 14px;
    border: #515151 1px solid;
    background: #8b8a8a;
    position: absolute;
    top: -9px;
    right: 10px;
    padding: 0 3px;
    text-align: center;
    line-height: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    font-weight: bold;
    color: #3b3b3c;
}
.user-counter {
    height: 20px;
    border: #0d3958 1px solid;
    background: #0a5284;
    position: absolute;
    top: -9px;
    right: 10px;
    padding: 0 3px;
    text-align: center;
    line-height: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    font-weight: bold;
    color: #fbff91;
}
.ticket-counter {
    height: 20px;
    border: #134c3e 1px solid;
    background: #1a6b57;
    position: absolute;
    top: -9px;
    right: 10px;
    padding: 0 3px;
    text-align: center;
    line-height: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    font-weight: bold;
    color: #fbff91;
}
.task-counter {
    height: 20px;
    border: #5f1b04 1px solid;
    background: #a82c01;
    position: absolute;
    top: -9px;
    right: 10px;
    padding: 0 3px;
    text-align: center;
    line-height: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    font-weight: bold;
    color: #fbff91;
}
.footer-button {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 9px;
    left: 10px;
    line-height: 20px;
}
.submit-button {
    background-position: 0 -569px;
    line-height: 28px;
    height: 28px;
    border: #4c535f 1px solid;
    color: #fff !important;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    text-shadow: 0px 1px #333;
    margin-right: 10px;
}


input[type=checkbox],input[type=date], input[type=datetime-local],
input[type=datetime], input[type=email], input[type=month],
input[type=number], input[type=password], input[type=radio],
input[type=search], input[type=tel], input[type=text], input[type=time],
input[type=url], input[type=week],select,textarea
{     
    border-color: rgb(255, 255, 255);
    border: 2px solid rgb(238, 238, 238);
}
.highlighter{
    font-weight: 900 !important;
}

